
/* --------------------------------------------------
 *  定義環境常數
 * -------------------------------------------------- */

<?php echo $env == 'Development' ? '' : '//';?> define('ENVIRONMENT', 'Development');
<?php echo $env == 'Testing' ? '' : '//';?> define('ENVIRONMENT', 'Testing');
<?php echo $env == 'Staging' ? '' : '//';?> define('ENVIRONMENT', 'Staging');
<?php echo $env == 'Production' ? '' : '//';?> define('ENVIRONMENT', 'Production');

switch (ENVIRONMENT) {
  case 'Development':
  case 'Testing':
    ini_set('display_errors', 1);
    error_reporting(-1);
    break;

  case 'Staging':
  case 'Production':
    ini_set('display_errors', 0);
    error_reporting(
      E_ALL & ~E_NOTICE & ~E_DEPRECATED & ~E_STRICT & ~E_USER_NOTICE & ~E_USER_DEPRECATED);
    break;

  default:
    new QQ('「環境變數(ENVIRONMENT)」設定錯誤！', 503);
    break;
}
