
/* --------------------------------------------------
 *  載入進入點
 * -------------------------------------------------- */

require_once dirname(__FILE__, 2)
  . DIRECTORY_SEPARATOR . 'System'
  . DIRECTORY_SEPARATOR . 'Entry.php';



/* --------------------------------------------------
 *  載入核心
 * -------------------------------------------------- */

require_once dirname(__FILE__, 2)
  . DIRECTORY_SEPARATOR . 'System'
  . DIRECTORY_SEPARATOR . 'Maple.php';



/* --------------------------------------------------
 *  結束
 * -------------------------------------------------- */

exit(0);
