
Router::get('')->controller('Main@index');
Router::post('')->controller('Main@index');
Router::cli('')->controller('Main@index');

// Router::group([
//   'uri' => 'api',
//   'dir' => 'API',
//   'mid' => 'Cors'
// ], function() {
// });
